+++
title = "intelliHR Handbook"
linkTitle = "Handbook"
date = 2020-08-04T12:07:02Z
+++

{{< blocks/cover title="Welcome to the intelliHR Handbook!" >}}
<div class="mx-auto">
  <a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/handbook" >}}">
    Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
  </a>
</div>
{{< /blocks/cover >}}
